* {
  margin: 0;
  padding: 0;
}
.App {
  height: 100%;
  background-image: url("../moroccan-flower.png");
  width: 100%;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
