.info {
  font-family: "Fredoka", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.info h1 {
  font-size: 40px;
}

.card {
  font-family: "Fredoka", sans-serif;
  background-color: white;
  box-shadow: -2px 14px 33px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  max-width: 350px;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-size: 20px;
}

@media (max-width: 560px) {
  h1 {
    font-size: 30px;
  }
}
.card:hover {
  background-color: black;
  box-shadow: -2px 14px 33px 0px rgba(0, 0, 0, 0.75);
  color: white;
  max-width: 350px;
  justify-content: flex-start;
  align-items: center;
}
.button {
  position: absolute;
  right: 5px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  text-align: center;
}
.button:hover {
  opacity: 1;
  background-color: rgba(255, 143, 109, 0.815);
}

.button:before {
  transform: rotate(45deg);
}
.button:after {
  transform: rotate(-45deg);
}
