@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 30px;
  padding: 30px;
  justify-content: center;
}

.subtitle {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 40px;
  font-size: 30px;
}
@media (max-width: 560px) {
  .cards {
    grid-template-columns: 90%;
  }
  .subtitle {
    font-size: 25px;
  }
}


